{
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "proseWrap": "always",
  "arrowParens": "avoid"
}